@import '../core/variables';
@import '../core/mixins';

.character-detail {
    display: flex;
    justify-content: center;

    & .character {
        background-color: $dark-purple;
        padding: 60px;
        border: solid 5px $fandango;
        border-radius: 12px;
        width: 700px;

        &__image {
            float: left;
            margin-right: 30px;
        }

        &__link {
            color: $fandango;
            font-weight: bold;
            font-size: 1.5rem;
        }
    }

}

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__text {
        font-size: 1.5rem;
        font-weight: bold;
        text-shadow: 5px 3px 5px $dark-purple;
    }

    &__image {
        border-radius: 12px;
    }

    &__link {
        margin-top: 20px;
        font-size: 3rem;
        font-weight: bold;
        color: $yellow-green;
        text-shadow: 5px 3px 5px $dark-purple;
    }
}