@import '../core/variables';
@import '../core/mixins';
@import '../components/CharacterDetail';

.characters {
    &__list {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        &__item {
            background-color: $dark-purple;
            padding: 20px;
            margin-bottom: 60px;
            max-width: 300px;
            min-height: 500px;
            border: solid 5px $fandango;
            border-radius: 12px;
            list-style: none;

            &--link {
                color: white;
                text-decoration: none;
            }
        }
    }
}