@import '../core/variables';
@import '../core/mixins';
@import '../components/CharacterDetail';

.characters {
    &__list {
        display: grid;
        place-items: center;
        padding: 0px;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include desktop {
            grid-template-columns: repeat(3, 1fr);
        }

        &__item {
            padding: 20px;
            background-color: $dark-purple;
            margin-bottom: 60px;
            border: solid 5px $fandango;
            border-radius: 12px;
            list-style: none;
            max-width: 200px;
            min-height: 450px;

            @include tablet {}

            @include desktop {
                max-width: 300px;
                min-height: 500px;
            }

            &--link {
                color: white;
                text-decoration: none;
            }
        }
    }
}