@mixin tablet {
    @media all and (min-width: 768px) {
        @content
    }
}

@mixin desktop {
    @media all and (min-width: 1280px) {
        @content
    }
}

@mixin fieldsets {
    display: flex;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: $dark-purple;
    border: solid 5px $fandango;
    border: solid 5px $fandango;
    gap: 5px;
    padding: 10px 10px;
    border-radius: 12px;

    @include tablet {
        font-size: 1rem;
        border: solid 5px $fandango;
        gap: 10px;
        padding: 10px 60px;
        border-radius: 12px;
    }
}