/* FONTS */
$fontDosis: 'Dosis', sans-serif;
$fontInconsolata: 'Inconsolata', monospace;
$fontJosefinSans: 'Josefin Sans', sans-serif;
$fontRajdhani: 'Rajdhani', sans-serif;
$fontRobotoMono: 'Roboto Mono', monospace;
$fontShadows: 'Shadows Into Light', cursive;
$fontSpace: 'Space Grotesk', sans-serif;

/* COLORS */
$denim-blue: rgba(52, 68, 180, 1);
$yellow-green: rgba(44, 180, 53, 1);
$palatinate-purple: rgba(90, 11, 81, 1);
$dark-purple: rgba(37, 9, 43, 1);
$fandango: rgba(173, 21, 136, 1);
$usafa-blue: rgba(5, 85, 156, 1);
$lime-green: rgba(70, 210, 67, 1);
$blue-ncs: rgba(41, 143, 186, 1);